<h1>Rome Fiber</h1>

<%= form_for @new_entry do |form| %>
  <%= @message %> <%= form.text_field :title %>
<% end %>

<% for entry in @entries %>
    <div class="entry">
        <p><%= entry.title %></p>
    </div>
<% end %>

<footer>The time is <%= @time.to_s(:time) %></footer>
